<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Unofficial Warhammer Community News Feed</title>
    <link>https://www.warhammer-community.com/</link>
    <description>Latest news and articles from Warhammer Community</description>
    <atom:link href="https://warcomfeed.link/rss.xml" rel="self" type="application/rss+xml" />
    <language>en-gb</language>
    <lastBuildDate>{{ "" | date("%a, %d %b %Y %H:%M:%S %z") }}</lastBuildDate>

    {% for item in warcom -%}
    <item>
      <title><![CDATA[{{ item.title }}]]></title>
      <link>https://www.warhammer-community.com{{ item.uri }}</link>
      <guid isPermaLink="true">https://www.warhammer-community.com{{ item.uri }}</guid>
      <description><![CDATA[{{ item.excerpt }}]]></description>
      <pubDate>{{ item.date | date("%a, %d %b %Y %H:%M:%S %z") }}</pubDate>
      {% if item.image -%}
      <enclosure url="https://assets.warhammer-community.com/{{ item.image.path }}" type="image/jpeg" />
      {%- endif %}
      {% if item.topics.length > 0 -%}
      <category><![CDATA[{{ item.topics[0].title }}]]></category>
      {%- endif %}
    </item>
    {% endfor -%}
  </channel>
</rss>